<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mobile_sync.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>7FAFCD2828415E8C73783B8A8425E26A376B307A</string>
				<key>dateExpires</key>
				<string>09/11/2025</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7FAFCD2828415E8C73783B8A8425E26A376B307A</string>
						<key>dateExpires</key>
						<string>09/11/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>54P9Y5R2RL</string>
						<key>name</key>
						<string>Universal Linker, LDA</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7FAFCD2828415E8C73783B8A8425E26A376B307A</string>
						<key>dateExpires</key>
						<string>09/11/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>54P9Y5R2RL</string>
						<key>name</key>
						<string>Universal Linker, LDA</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7FAFCD2828415E8C73783B8A8425E26A376B307A</string>
						<key>dateExpires</key>
						<string>09/11/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>app_links.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>54P9Y5R2RL</string>
						<key>name</key>
						<string>Universal Linker, LDA</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7FAFCD2828415E8C73783B8A8425E26A376B307A</string>
						<key>dateExpires</key>
						<string>09/11/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>54P9Y5R2RL</string>
						<key>name</key>
						<string>Universal Linker, LDA</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7FAFCD2828415E8C73783B8A8425E26A376B307A</string>
						<key>dateExpires</key>
						<string>09/11/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>photo_manager.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>54P9Y5R2RL</string>
						<key>name</key>
						<string>Universal Linker, LDA</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7FAFCD2828415E8C73783B8A8425E26A376B307A</string>
						<key>dateExpires</key>
						<string>09/11/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>54P9Y5R2RL</string>
						<key>name</key>
						<string>Universal Linker, LDA</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7FAFCD2828415E8C73783B8A8425E26A376B307A</string>
						<key>dateExpires</key>
						<string>09/11/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>sign_in_with_apple.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>54P9Y5R2RL</string>
						<key>name</key>
						<string>Universal Linker, LDA</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7FAFCD2828415E8C73783B8A8425E26A376B307A</string>
						<key>dateExpires</key>
						<string>09/11/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>url_launcher_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>54P9Y5R2RL</string>
						<key>name</key>
						<string>Universal Linker, LDA</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7FAFCD2828415E8C73783B8A8425E26A376B307A</string>
						<key>dateExpires</key>
						<string>09/11/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>webview_flutter_wkwebview.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>54P9Y5R2RL</string>
						<key>name</key>
						<string>Universal Linker, LDA</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>54P9Y5R2RL.com.example.mobileSync</string>
				<key>com.apple.developer.team-identifier</key>
				<string>54P9Y5R2RL</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>fad2a741-58c7-449b-8299-448f28667b46</string>
				<key>dateExpires</key>
				<string>09/04/2026</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.example.mobileSync</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>54P9Y5R2RL</string>
				<key>name</key>
				<string>Universal Linker, LDA</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
